{% load static %}
<div class="container">
    <br>
    <div class="row">
            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-white mb-3" id="total-orders">
                        <div class="card-header">
                            <h5 class="card-title">Patients</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"> {{ count_patients }} </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-white mb-3" id="orders-delivered">
                        <div class="card-header">
                            <h5 class="card-title">Nurses</hS>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"> {{ count_n_staff }} </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col-md">
                    <div class="card text-center text-white mb-3" id="orders-pending">
                        <div class="card-header">
                            <h5 class="card-title">Doctors</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"> {{ count_d_staff }} </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>